@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway:300|Muli&display=swap');

.App {
  text-align: center;
  //font-family: 'Raleway', sans-serif;
  .landing {
    margin-top: 200px;
  }
}

$theme1-color-1: #ff2f60;
$theme1-color-2: #ff49bd;

.searchForm {
  padding: 40px 30px 0 30px;
  display: flex;
  justify-content: center;
  background-color: inherit;
  transition: margin-top 0.1s;
  .searchInput {
    font-family: 'Muli', sans-serif;
    line-height: 1.2;
    background-color: inherit;
    color: white;
    outline: none;
    border: none;
    border-bottom: solid 1px #36daff;
    font-size: 1.5em;
    padding: 5px 8px;
    &::placeholder {
      background: linear-gradient(to right, $theme1-color-1 0%, $theme1-color-2 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  .searchButton {
    background-color: inherit;
    border: 0;
    outline: 0;
    .searchIcon {
      width: 25px;
      height: 25px;
    }
  }
}

.searchResults {
  background-color: black;
  padding: 20px 50px;
  text-align: left;
  line-height: 2;
  .resultTitle {
    font-size: 2em;
    background: linear-gradient(to right, $theme1-color-1 0%, $theme1-color-2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .titleUnderline {
    background: linear-gradient(to right, $theme1-color-1 0%, $theme1-color-2 100%);
    width: 200px;
    height: 5px;
    margin: 5px 0 20px 0;
  }
  .inlineContainer {
    padding: 10px 0;
    .inlineHeading {
      padding: 5px 10px;
      margin: 0 20px 0 0;
      background: linear-gradient(to right, $theme1-color-1 0%, $theme1-color-2 100%);
    }
    .inlineItem {
      padding: 5px 7px;
      cursor: pointer;
      margin: 0 10px;
      border-radius: 2px;
      background: linear-gradient(to right, #212121 0%, #2a2a2a 100%);
    }
  }
  .definitionHeading {
    border-bottom: solid 2px pink;
    padding-bottom: 5px;
  }

  .wordType {
    font-size: 0.8em;
    background-color: #1b1b1b;
    font-style: italic;
    padding: 2px 5px;
    color: orange;
    margin-right: 15px;
  }
  .wordDefinition {
    font-weight: 300;
  }
}

.errorMessage {
  background: linear-gradient(to right, $theme1-color-1 0%, $theme1-color-2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
}


@media (max-width: 425px) {
  .searchForm {
    position: absolute;
    z-index: 3;
    bottom: 30px;
    padding: 0;
  }
}

