@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Raleway:300|Muli|Nothing+You+Could+Do&display=swap');

.App {
  text-align: center;
  //font-family: 'Raleway', sans-serif;
  .landing {
    margin-top: 200px;
  }
  .logoContainer {
    position: fixed;
    right: 20px;
    top: 20px;
    cursor: pointer;
    a, .logoText {
      text-decoration: none;
      text-align: center;
      color: white;
      font-family: 'Nothing you could do', sans-serif;
    }
  }
}

$theme1-color-1: #13f0fc;
$theme1-color-2: #6528ff;

.searchForm {
  padding: 40px 30px 0 30px;
  display: flex;
  justify-content: center;
  background-color: inherit;
  transition: margin-top 0.1s;
  .searchInput {
    font-family: 'Raleway', sans-serif;
    line-height: 1.2;
    background-color: inherit;
    color: white;
    outline: none;
    border: none;
    border-bottom: solid 1px #7ce1fa;
    font-size: 1.5em;
    padding: 5px 8px;
    // &::placeholder {
    //   background: linear-gradient(to right, $theme1-color-1 0%, $theme1-color-2 100%);
    //   -webkit-background-clip: text;
    //   -webkit-text-fill-color: transparent;
    // }
  }
  .searchButton {
    background-color: inherit;
    border: 0;
    outline: 0;
    .searchIcon {
      width: 25px;
      height: 25px;
    }
  }
}

.searchResults {
  padding: 20px 50px;
  text-align: left;
  line-height: 2;
  .resultTitle {
    font-size: 2em;
    background: linear-gradient(to right, $theme1-color-1 0%, $theme1-color-2 30%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .titleUnderline {
    background: linear-gradient(to right, $theme1-color-1 0%, $theme1-color-2 100%);
    width: 200px;
    height: 5px;
    margin: 5px 0 20px 0;
  }
  .inlineContainer {
    padding: 10px 0;
    overflow-x: scroll;
    white-space: nowrap;
    &::-webkit-scrollbar {
      width: 0 !important;
    }
    scrollbar-width: none;
    -ms-overflow-style: none;
    .inlineHeading {
      padding: 5px 10px;
      margin: 0 20px 0 0;
      background: linear-gradient(to right, #5816f6 0%, $theme1-color-2 50%);
    }
    .inlineItem {
      padding: 5px 7px;
      cursor: pointer;
      margin: 0 10px;
      border-radius: 2px;
      background: linear-gradient(to right, #212121 0%, #2a2a2a 100%);
    }
  }
  .definitionHeading {
    border-bottom: solid 2px pink;
    padding-bottom: 5px;
  }

  .wordType {
    font-size: 0.8em;
    background-color: #1b1b1b;
    font-style: italic;
    padding: 2px 5px;
    color: orange;
    margin-right: 15px;
  }
  .wordDefinition {
    font-weight: 300;
  }
}

.errorMessage {
  background: linear-gradient(to right, $theme1-color-1 0%, $theme1-color-2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2em;
    margin-top: 150px;
}


@media (max-width: 480px) {
  .landing {
    bottom: 40vh !important;
    //background: linear-gradient(135deg, #0b1324 0%, #1d272c 100%);
    padding: 25px 0 !important;
    box-sizing: border-box;
  }
  .searchForm {
    position: absolute;
    z-index: 3;
    bottom: 30px;
    padding: 0;
    width: 100%;
  }
  .searchResults {
    height: calc(100vh - 200px);
    overflow-y: scroll;
  }
  .inlineContainer {
    overflow-x: scroll;
    white-space: nowrap;
    .inlineHeading {
      margin-bottom: 30px !important;
    }
  }
}

